<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("./partials/head.ejs" , { cssSheet: "home", cssSheet1:"headerFooter",icons: "https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"} ) %>
</head>

<body>
    <header>
        <%- include("./partials/header.ejs")%>
    </header>
    <main>
        <%- include("./partials/info-banner.ejs")%>

        <h1 class="sub-title-resultado">Resultado de tu búsqueda: <%=keyword%></h1>
        <section class="products">
            <% if (found && found.length > 0){ %>
            <% found.forEach(product => { %>
            <div class="card-product">
                <a href="/products/detail/<%=product.id%>">
                    <img src= "/img/products/<%=product.img%>" alt="imagen de producto"></a>
                <div class="product-description">
                    <h3 class="name-product"><%=product.name%></h3>
                    <p class="description"><%=product.description_home%></p>
                </div>
                <div class="buttons">
                    <button class="add-shipping-cart"data-name="<%=product.name%>" data-price="<%=product.price%>" data-img="/img/products/<%=product.img%>"><i class="fa-solid fa-cart-shopping"></i></button>                     <button class="buy">
                        <p>Comprar</p>
                        <p><strong><%=product.price%> USD</strong></p>
                    </button>
                </div>
            </div>
            <%}); %>
            <% } else { %>
                <div class="not-found">
                <div class="notFound">
                <h2 class="sub-title2">Lo sentimos, no encontramos lo que buscas. </h2>
            <img src="/img/noEncontrado.png" alt="not found">
        </div>
        <h2 class="sub-title4">Podes intentar con otra palabra o explorar todos nuestros productos <a class= "aca" href="/products">acá</a></h2>
                 </div>
                <% } %>
            
        </section>
        <%- include('partials/footer.ejs') %>
        <script src="/js/carrito.js"></script>

        </main>


