<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("./partials/head.ejs" , { cssSheet: "stylesCarrito", cssSheet1:"headerFooter", icons: "https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&family=Roboto&display=swap"} ) %>
</head>
<body>
    <%- include("./partials/header.ejs")%>
<main>
    <div class="arriba">
        <a href="/" class="fa-solid fa-xmark"></a>
        <div class="titulo"><h1>Carrito de compras</h1></div>
    </div>
    <div class="cart-items">
        <div id="cart-container"></div>
        <div class="producto"></div>
        <!-- <div class="cantidad">
            <button id="restador"class="sumador">-</button>
            <p id="cantidad"class="cant">0</p>
            <button id="sumador" class="restador">+</i></button>
        </div> -->
    </div>
    <div class="total">
        <p class="totalTexto"><strong>Total:</strong></p>
        <p id="total" class="totalPrecio"><strong>$0</strong></p>
    </div>
    <div class="enviosTexto">
        <i class="fa-solid fa-location-dot"></i>
        <p>¿Dónde puedo retirar mi pedido?</p>
    </div>
    <div class="direcciones">
        <p class="address">Perón 1775, San Miguel, Buenos Aires</p>
        <p class="address">Rodriguez Peña 1266, San Miguel, Buenos Aires</p>
    </div>


    <div class="iniciar">
        <button class="botonCompra" type="submit">INICIAR COMPRA</button>
    </div>
    <div class="verMas">
        <a class= "verMas" href="/">Ver mas productos</a>
    </div>
    <h1 class="sub-title-carrito">No dejes pasar estas ofertas:</h1>
    <section class="products">
        <% productosOfertas.forEach((product,index) => { %>
        <div class="card-product-carrito <%= index >= 1 ? 'extra-products' : '' %>">
            <a class="card-product1" href="/products/detail/<%=product.id%>">
                <img src="img/products/<%=product.img%>" alt="imagen de producto">
            <div class="product-description">
                <h3 class="name-product"><%=product.name%></h3>
                <p class="description"><%=product.description_home%></p>
            </div></a>
            <div class="buttons">
                <button class="add-shipping-cart"data-name="<%=product.name%>" data-price="<%=product.price%>" data-img="/img/products/<%=product.img%>"><i class="fa-solid fa-cart-shopping"></i></button>
                <button class="buy">
                    <p><strong><%=product.price%> USD</strong></p>
                </button>
            </div>
        </div>
        <%}); %>
    </section>
    </main>
    <%- include('partials/footer.ejs') %>
    </body>
    <script src="/js/carrito.js"></script>
</html>