<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("./partials/head.ejs" , { cssSheet: "home", icons: "https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"} ) %>
</head>

<body>
    <header>
        <%- include("./partials/header.ejs")%>
    </header>
    
    <main>
        <section class="container">
            imagen imagen imagen imagen
        </section>
        <section class="info-banner">
            <article class="card-info">
                <div class="icon-info"><i class="fa-solid fa-plane"></i></i></div>
                <div class="description-info">
                    <h4 class="sub-title1">Envíos a nivel nacional</h4>
                    <p class="text-info">Realizamos envíos a nivel nacional por paquetería certificada.</p>
                </div>
            </article>
            <article class="card-info-enviosGratis">
                <div class="icon-info"><i class="fa-solid fa-truck-fast"></i></div>
                <div class="description-info">
                    <h4 class="sub-title1">Envío gratis</h4>
                    <p class="text-info">Por compras superiores a $150 USD, tus envíos son completamente gratuitos.</p>
                 </div>
            </article>
            <article class="card-info">
                <div class="icon-info"><i class="fa-solid fa-credit-card"></i></div>
                <div class="description-info">
                    <h4 class="sub-title1">Medios de pago</h4>
                    <p class="text-info">Aceptamos todas las tarjetas, transferencias y MercadoPago.</p>
                </div>
            </article>
            <article class="card-info">
                <div class="icon-info"><i class="fa-solid fa-shield-halved"></i></div>
                <div class="description-info">
                    <h4 class="sub-title1">Compra segura</h4>
                    <p class="text-info">Despachos de productos a tiempo y atención premium asegurada</p>
                </div>
            </article>
        </section>

        <h1 class="sub-title2">PRODUCTOS DESTACADOS:</h1>
        <section class="products">
            <% products.forEach(product => { %>
                <% if (product.ofertaOdestacado == "destacado") { %>
            <div class="card-product">
                <a href="/detalleproducto">
                    <img src="img\<%=product.image%>" alt="imagen de producto"></a>
                <div class="product-description">
                    <h3 class="name-product"><%=product.name%></h3>
                    <p class="description"><%=product.descriptionHome%></p>
                </div>
                <div class="buttons">
                    <button class="add-shipping-cart"><i class="fa-solid fa-cart-shopping"></i></button>
                    <button class="buy">
                        <p>Comprar</p>
                        <p><strong><%=product.price%></strong></p>
                    </button>
                </div>
            </div>
            <% } %>
            <%}); %>
        </section>

        <h1 class="sub-title">PROMOCIONES DEL MES:</h1>
        <section class="products">
            <% products.forEach(product => { %>
                <% if (product.ofertaOdestacado == "oferta") { %>
            <div class="card-product">
                <a href="/detalleproducto">
                    <img src="img\<%=product.image%>" alt="imagen de producto"></a>
                <div class="product-description">
                    <h3 class="name-product"><%=product.name%></h3>
                    <p class="description"><%=product.descriptionHome%></p>
                </div>
                <div class="buttons">
                    <button class="add-shipping-cart"><i class="fa-solid fa-cart-shopping"></i></button>
                    <button class="buy">
                        <p>Comprar</p>
                        <p><strong><%=product.price%></strong></p>
                    </button>
                </div>
            </div>
            <% } %>
            <%}); %>
        </section>
    </main>

    <%- include('partials/footer.ejs') %>
</body>

</html>