<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("./partials/head.ejs" , { cssSheet: "profile",cssSheet1:"headerFooter", icons: "https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"} ) %>
</head>

<header>
    <%- include("./partials/header.ejs")%>
</header>

<body>
        <div class="box-profile">
            
            <div class="name-img">
                <div class="admin">
                <h2>Ingresaste como ADMIN. </h2>
                <h2>Estás modificando la información de: <%=user.first_name%></h2>
                </div>
                <div class="photo-profile">
                    <img src="/img/users/<%=user.photo%>" alt="Foto de perfil">
                </div>
            </div>

            <form class="formProfile" method="POST" enctype="multipart/form-data" action="/users/edit/<%=user.id%>?_method=PUT">
                <div class="datos">
                <div class="div1">
                    <div class="input-file">
                        <label class= "label" for="input-photo">Imagen de perfil</label>
                        <input class="input-photo" type="file" name="photo"
                            accept="image/jpeg, image/png, image/jpg">
                    </div>
                    <div class="contenido input-profile">
                        <label class= "label" for="first_name">Nombre</label>
                        <input type="text" name="first_name" placeholder="Nombre"
                        value="<%=user.first_name %>"
                            class="input input-alt" />
                    </div>
                    <div class="contenido input-profile">
                        <label class= "label" for="last_name">Apellido</label>
                        <input type="text" name="last_name" placeholder="Apellido"
                        value="<%=user.last_name %>"
                            class="input input-alt" />
                    </div>
                <div class="contenido input-profile">
                    <label class= "label" for="email">Email</label>
                    <input type="email" name="email" placeholder="Correo Electrónico"
                    value="<%=user.email %>"
                        class="input input-alt" />
                </div>
                </div>
                <div class="div2">
                <div class="contenido input-profile">
                    <div class="form-control">
                        <label class= "label" for="phone">Teléfono</label>
                        <input type="text" name="phone" placeholder="Teléfono celular" value="<%=user.phone %>"
                            class="input input-alt" />
                    </div>
                </div>
                <div class="contenido input-profile">
                    <div class="form-control">
                        <label class= "label" for="address">Dirección</label>
                        <input type="text" name="address" placeholder="Dirección" class="input input-alt" value= "<%= address && address.address ? address.address : '' %>"/>
                    </div>
                </div>
                <div class="contenido input-profile">
                    <div class="form-control">
                        <label class= "label" for="zip_code">Código postal</label>
                        <input type="number" name="zip_code" placeholder="Código postal" class="input input-alt" value="<%= address && address.zip_code ? address.zip_code : ' '%>"/>
                    </div>
                </div>
            </div>
            </div>
                <div class="contenido button-save">
                    <button class="btn">
                        Actualizar información
                    </button>
                </div>
        </form>
        </div>

</body>
<footer>
    <%- include('partials/footer.ejs') %>
</footer>
</html>